#img{
    height : 30%;
    width: 30%
}
#fa9ra {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#phrase {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 body{
    background-image:url("https://pub-static.fotor.com/assets/bg/231c47a0-8325-4ae4-8452-37836bcea5f0.jpg") }