#img{
    height : 30%;
    width: 30%
}



#fa9ra{
   
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      
    }

h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

}

#phrase  {
    background-color: rgb(148, 181, 198)
}
 body{
    background-color: whitesmoke;
    background-image: url("https://i.pinimg.com/originals/e0/08/c7/e008c7c889aa30b878b58eaded602aa9.jpg");
    
